/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


body {
    background-color: #F5F5DC; 
}

.navbar {
    background-color: #800020 !important;
}

.navbar .nav-link,
.navbar .navbar-brand {
  color: #fff !important;
}


a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}


.btn-primary {
  background-color: #800020;
  border-color: #800020;
}

.form-control:focus {
    border-color: #800020;
    box-shadow: 0 0 0 0.2rem rgba(128, 0, 32, 0.25);
}

.card {
    border: none;
    border-radius: .5rem;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.text-primary {
    color: #800020 !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/*.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
*/